body{

    background-color: #544C4A;
    color: #D6CFC7;

    font-family: "Libre Baskerville", serif;
    font-weight: 400;
    font-style: normal;

}

main{

    display: grid;
    grid-template-columns: 33% 33% 33%;

}

header{

    text-align: center;

    border-bottom: #D6CFC7 1px solid;

}

menu{

    border-bottom: #D6CFC7 1px solid;
    width: fit-content;    

    text-align: center;

}

.icon{

    text-align: center;

}

a{

    color: #D6CFC7;

}

#contents{

    text-align: justify;

}


@media screen and (max-width: 80rem) {
    
    main{

        display: block;

    }

    menu{

        width: auto;

    }


  }
  