<!DOCTYPE html>
<html lang="en">

<ligerplace:/head.html>
<body>

    <ligerplace:/header.html>

    <main>

    <ligerplace:/menu.html>
    
    <section class="contents">
    
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum quia facere porro eos impedit, adipisci fuga. Sapiente tempora error animi itaque aspernatur praesentium amet et non quis, quidem blanditiis est.</p>
    
    <p>Hello</p>

    </section>

    </main>
    
    <ligerplace:/footer.html>
    
</body>
</html>